<a href="#main-content" class="skip-to-main-link">{{lang 'header.skip_to_main'}}</a>
{{#if banners.top}}
<div class="banners" data-banner-location="top">
    {{#each (limit banners.top_metadata 1)}}
    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
        <div data-event-type="promotion-click">
            {{{this.content}}}
        </div>
    </div>
    {{/each}}
</div>
{{/if}}


{{{region name="header_top--global"}}}
{{{region name="header_second--global"}}}

<header class="header header-container header--middle-left header--mobile-center page-width header--has-menu header--has-social header--has-account" role="banner">
        <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
            <span class="mobileMenu-toggleIcon">Toggle menu</span>
        </a>
        <div class="m--empty"></div>
            <!--<h1 class="header__heading">-->
                {{> components/common/store-logo}}
            <!--</h1>-->
        
        <div class="navPages-container" id="menu" data-menu>
            {{> components/common/navigation-menu}}
        </div>
        
        {{> components/common/navigation}}    
</header>
